[Unit]
Description=Bricklogger daemon

[Service]
Environment=BRICKLOGGER_CONFIG_DIR=${config_dir}
ExecStart=${command} daemon run
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
